
     <div class="container " style="padding-left: 26%; padding-top: 2%;">
     <div class="row">
        <div class="col-md-1">
   
                    <a href="/bitacora/menu">
                    <i class="fas fa-arrow-circle-left fa-2x" title="Ir a la página anterior" style="color: rgb(35, 148, 0);"></i>
                    </a> 
</div>
                    <div class="col" >
  
                    <h2>Generar archivo PDF.</h2>

                    </div>
                    
             

</div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/bitacora/pdfList" method="POST"  target="_blank">
                  
                  
                        <div class="form-group" style="padding-left: 6%;">
                            <label >del</label>
                            <input class="" type="date" name="fecha1" placeholder="fecha" id="fecha1" >
                      <label >al</label>
                            <input class="" type="date" name="fecha2" placeholder="fecha" id="fecha2" >
                        </div>

        
                       
                        <div class="form-group">
                            <button class="btn btn-success btn3 btn-block" >
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

