<div class="container" > 
    <h1 class="text-center">EVENTOS DE RIESGO </h1>
    <div  style="padding-left: 20%;" > 
         <div class="row">                
        <div class="col"> 
             <a class="btn btn-success btn2 "  href="/eventoRiesgo/add"><i class="fa fa-plus"> Crear Nuevo</i>  </a>
        </div>
                <div class="col" style="padding-left: 5%;">
                 <form action="/eventoRiesgo/buscar" method="POST">
                  <input class="" type="text" name="EventoRiesgo" placeholder="Buscar" id="EventoRiesgo" >
                  <button class="btn btn-success btn3">Buscar</button>
                 </form> 
                </div>
      </div>
    

    <div id="scroll" class="overflow-auto overflow-hidden">
        <div id="table-wrapper">
  <div id="table-scroll">
        <div class="containerlist" style="overflow-x:auto;">
            <div class="row">
                <div class="col-sm-11">
                    <div class="row">
                        <br>

                        <div class="col-10 col-sm-11" id="panel-servicios">

                          

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Evento de Riesgo</th>
                                        
                                    </tr>
                                </thead>
                                {{#each eventoRiesgos}}
                                <tr>
                                    <td>{{EventoRiesgo}}</td>
                                       <td>
                                        <a  href="/eventoRiesgo/delete/{{id}}" onClick="alert('¿Desea eliminar este registro?')"  aria-label="borrar" >
                                        
                         <i  class="fas fa-trash-alt" title="Eliminar" style="color: #f80000;  " aria-hidden="true" ></i> 
                    </a> &nbsp;&nbsp;&nbsp;&nbsp;

                                       <a  href="/eventoRiesgo/edit/{{id}}" aria-checked="actualizar"><i class="fas fa-pencil-alt" title="Editar" style="color: rgb(35, 148, 0);  " aria-hidden="true" ></i> </a>
                                    </td>
                                    
                                    

                                </tr>
                                {{else}}
     <th></th>  
     <th>Aún no se han agregado datos.</th>
    </tr>
    {{/each}}
                            </table>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>


</div>
 </div>


</div>
</div>

