<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-3">Bitácora departamento de tecnología</h1>
            <h2 class="mb-4" style="color: ivory;">
                <em>Cooperativa nueva vida</em>
            </h2>
            <a class="btn btn-success btn-lg btn2" style="border-color: rgb(35, 148, 0);" href="/signin">
                Iniciar
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>