     <div class="container " style="padding-left: 30%; padding-top: 2%;">
     <div class="row">
        <div class="col-md-1">
   
                    <a href="/plataforma">
                    <i class="fas fa-arrow-circle-left fa-2x" style="color: rgb(35, 148, 0);"></i>
                    </a> 
</div>
                    <div class="col" >
                    <h2>Editar plataforma.</h2>

                    </div>
                    
             

</div>
</div>

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/plataforma/edit/{{plataforma.id}}" method="POST">
                        <div class="form-group">
                            
                            <input type="text"  name="plataforma" class="form-control is-valid" placeholder="Plataforma"  value="{{plataforma.plataforma}}" autofocus required>
                           <div class="valid-feedback">
        
      </div>
                        </div>

                         <div class="form-group">
                        <select class ="form-control custom-select is-invalid" name="incidenteId" id="id" aria-describedby="validationServer04Feedback" required>
						 <option selected disabled value="">Incidentes</option>
						{{#each incidente }}
                                  <option value="{{id}}" name="id"> {{incidente}}</option>
                         {{/each}}
					    </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block btn3">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>