<div class="container" > 
    <h1 class="text-center">PROVEEDORES</h1>
    <div  style="padding-left: 20%;" > 
    
 <div class="row">                
        <div class="col"> 
             <a class="btn btn-success btn2 "  href="/proveedor/add"><i class="fa fa-plus"> Crear Nuevo</i>  </a>
        </div>
        {{!-- <div class="col-sm-3">
            <a class="btn btn-success  btn3"  href="/proveedor"><i> Refrescar</i></a>
        </div> --}}
                <div class="col">
                 <form action="/proveedor/buscar" method="POST">
                  <input class="" type="text" name="proveedor" placeholder="Buscar" id="proveedor" >
                  <button class="btn btn-success btn3">Buscar</button>
                 </form> 
                </div>
      </div>

   
    <div id="scroll" class="overflow-auto overflow-hidden">
        <div id="table-wrapper">
  <div id="table-scroll">
        <div class="containerlist" style="overflow-x:auto;">
            <div class="row">
                <div class="col-sm-11">
                    <div class="row">
                        <br>

                        <div class="col-10 col-sm-11" id="panel-servicios">

                          

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Proveedor</th>
                                        
                                    </tr>
                                </thead>
                                {{#each proveedores}}
                                        <tr>
                                    <td>{{proveedor}}</td>

                                     <td>
                                        <a href="/proveedor/delete/{{id}}" onClick="alert('Desea eliminar este registro?')"  aria-label="borrar">
                                        
                         <i  class="fas fa-trash-alt" style="color: #f80000;  " aria-hidden="true" ></i> 
                    </a>
                    </td>
                    <td>

                                       <a  href="/proveedor/edit/{{id}}" aria-checked="actualizar"><i class="fas fa-pencil-alt" style="color: rgb(35, 148, 0);  " aria-hidden="true" ></i> </a>
                                    </td>
                                    
                                    

                                </tr>
                                {{else}}
     <th></th>  
     <th>Aún no se han agregado datos.</th>
    </tr>
    {{/each}}
                            </table>
                        </div>

                       
                    </div>
                </div>

            </div>


        </div>
         <br>
         <a  href="/proveedor" title="Refrescar"><i class="fas fa-arrow-circle-left fa-2x" style="color: rgb(35, 148, 0);"></i> 
                                    </a>
    </div>


</div>
 </div>


</div>
</div>