<div class="container" > 
    <h1 class="text-center">PROVEEDORES</h1>
    <div  style="padding-left: 20%;" > 
    

      <h3 style="padding-left: 60%;"><a class="btn btn-success btn2" href="/proveedor/add"><i class="fa fa-plus"> Crear nuevo</i> 
                                    </a>
                              </h3>
    <div id="scroll" class="overflow-auto overflow-hidden">
        <div id="table-wrapper">
  <div id="table-scroll">
        <div class="containerlist" style="overflow-x:auto;">
            <div class="row">
                <div class="col-sm-11">
                    <div class="row">
                        <br>

                        <div class="col-10 col-sm-11" id="panel-servicios">

                          

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Proveedor</th>
                                        
                                    </tr>
                                </thead>
                                {{#each proveedor}}
                                <tr>
                                    <td>{{proveedor}}</td>
                                     <td>
                                        <a class="btn btn-danger" href="/proveedor/delete/{{id}}">
                        Eliminar
                    </a>
                    
                                       <a class="btn btn-secondary" href="/proveedor/edit/{{id}}">
                        Editar
                    </a>
                                    </td>
                                    
                                    

                                </tr>
                                {{else}}
     <th></th>  
     <th>Aún no se han agregado datos.</th>
    </tr>
    {{/each}}
                            </table>
                        </div>

                       
                    </div>
                </div>

            </div>


        </div>
    </div>


</div>
 </div>


</div>
</div>