
 <link rel="stylesheet" href="/css/stylelogin.css">


<body>
<!-- partial:index.partial.html -->
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Iniciar sesión </h2>
    

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/css/img/logo.png" id="icon" alt="User Icon" class=" mx-auto m-2  w-50" />
    </div>

    <!-- Login Form -->
    <form action="/signin" method="POST">
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="Usuario">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña">
      <input type="submit" class="fadeIn fourth" class="btn2 btn btn-success" value="Iniciar sesión">
    </form>

    <!-- Remind Passowrd -->
    

  </div>
</div>
<!-- partial -->
  
</body>
